
@import url('https://rsms.me/inter/inter.css');

:root {
  --font-family: 'Inter', sans-serif;
  --jm-orange: #E8958D;
  --jm-black: #151515;
  --jm-selection-bg: #E8958D;
  --jm-selection-text: #d2d2d1;
  --jm-background: #FFFFFF;
  --jm-color: #757575;

  --font-size-xl: clamp(1.71rem, 1.2vw + 1.41rem, 2.37rem);
  --font-size-xxl: clamp(2.14rem, 1.86vw + 1.67rem, 3.16rem);
  --font-size-xxxl: clamp(2.67rem, 2.8vw + 1.97rem, 4.21rem);
}
@tailwind base;
@tailwind components;
@tailwind utilities;
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

::selection {
  background: var(--jm-selection-bg);
  color: var(--jm-selection-text);
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  background: var(--jm-background);
  font-size: 1rem;
  font-weight: 400;
  color: var(--jm-color);
  overflow-x: none;
}

body::-webkit-scrollbar {
  width: 20px;
}

body::-webkit-scrollbar-track {
  background-color: var(--jm-gray);
  border-radius: 0px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 100px;
  border: 5px solid transparent;
  background-clip: content-box;
  background-color: var(--jm-orange);
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

h1 {
  font-size: var(--font-size-xxxl);
  line-height: 1.1;
}

h2 {
  font-size: var(--font-size-xxl);
  line-height: 1.1;
}

h3 {
  font-size: var(--font-size-xl);
  line-height: 1.1;
}

p {
  font-size: clamp(1.035rem, calc(12px + 0.54vw), 1.125rem);
  line-height: 1.4;
  color: #d2d2d1;
}

.glass {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

/*jsbox section*/
.jsbox {
    left: 50%;
    top: 166%;
    transform: translate(-50%, -50%);
    width: 100%;
}
