@import url("https://rsms.me/inter/inter.css");

:root {
  --font-family: "Inter", sans-serif;
  --jm-orange: #e8958d;
  --jm-black: #151515;
  --jm-selection-bg: #e8958d;
  --jm-selection-text: #d2d2d1;
  --jm-background: #ffffff;
  --jm-color: #757575;

  --font-size-xl: clamp(1.71rem, 1.2vw + 1.41rem, 2.37rem);
  --font-size-xxl: clamp(2.14rem, 1.86vw + 1.67rem, 3.16rem);
  --font-size-xxxl: clamp(2.67rem, 2.8vw + 1.97rem, 4.21rem);
}
@tailwind base;
@tailwind components;
@tailwind utilities;
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

::selection {
  background: var(--jm-selection-bg);
  color: var(--jm-background);
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  font-size: 1rem;
  font-weight: 400;
  color: var(--jm-color);
  overflow-x: none;
  background: #1a1a1a;
}

body::-webkit-scrollbar {
  width: 20px;
}

body::-webkit-scrollbar-track {
  background-color: var(--jm-orange);
  border-radius: 0px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 100px;
  border: 5px solid transparent;
  background-clip: content-box;
  background-color: var(--jm-color);
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

h1 {
  font-size: var(--font-size-xxxl);
  line-height: 1.1;
}

h2 {
  font-size: var(--font-size-xxl);
  line-height: 1.1;
}

h3 {
  font-size: var(--font-size-xl);
  line-height: 1.1;
}

p {
  font-size: clamp(1.035rem, calc(12px + 0.54vw), 1.125rem);
  line-height: 1.4;
  color: #d2d2d1;
}

.glass {
  backdrop-filter: blur(13px) saturate(60%);
  -webkit-backdrop-filter: blur(13px) saturate(60%);
  background-color: rgba(248, 231, 28, 0.08);
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

/*jsbox section*/
.jsbox {
  left: 50%;
  top: 166%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 9999;
}
/*audit section*/
.glow-circle {
  background-color:transparent;
  width:100px;
  height:100px;
  border-radius:50px;
  box-shadow: 0 0 8px #54ff10, inset 0 0 8px #54ff10;
  -webkit-animation: pulse 2s linear 1s infinite;
}
.glow-circle p {
  display:block;
  text-align: center;
  line-height: 100px;
  font-family:sans-serif;
  font-weight:100;
  font-size:24px;
  color: #54ff10;
  text-shadow: 0 0 4px #54ff10;
}
@-webkit-keyframes pulse {
  0% { box-shadow:0 0 8px #54ff10, inset 0 0 8px #54ff10; }
  50% { box-shadow:0 0 16px #54ff10, inset 0 0 14px #54ff10; }
  100% { box-shadow:0 0 8px #54ff10, inset 0 0 8px #54ff10; }
}

/*slide up text animation*/
.slide-up {
  -webkit-animation: slide-up 0.9s cubic-bezier(0.65, 0, 0.35, 1) both;
          animation: slide-up 0.9s cubic-bezier(0.65, 0, 0.35, 1) both;
}

@-webkit-keyframes slide-up {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
  }
}

#jamstack {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
          overflow: hidden;
}
#jam-text {
-webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
          overflow: hidden;
}
